apiVersion: radix.equinor.com/v1
kind: RadixApplication
metadata:
  name: arcs
spec:
  environments:
    - name: dev
      build:
        from: main
    - name: legacy-dash
      build:
        from: old
    - name: prod
  dnsAlias:
    - alias: arcs
      component: server
      environment: legacy-dash
  components:
    - name: server
      ports:
        - name: http
          port: 8050
      publicPort: http
      resources:
        limits:
          memory: 8000M
        requests:
          cpu: 500m
          memory: 8000M
    - name: api
      environmentConfig:
        - environment: legacy-dash
          enabled: false
        - environment: dev
          variables:
            CLIENT_ID: 848324c2-27b7-4804-8180-c7aa70be5af7
            API_SCOPE: api://848324c2-27b7-4804-8180-c7aa70be5af7/Arcs.User
        - environment: prod
          variables:
            CLIENT_ID: ad6b45d3-06d7-492a-926a-60ef6b82d5f8
            API_SCOPE: api://ad6b45d3-06d7-492a-926a-60ef6b82d5f8/Arcs.User
      dockerfileName: Dockerfile_api
      ports:
        - name: http
          port: 5001
      publicPort: http
      resources:
        requests:
          memory: "8Gi"
          cpu: "2000m"
        limits:
            memory: "8Gi"
            cpu: "4000m"
