
.dash-spreadsheet tr:hover td.dash-cell {
            background-color: rgba(0.1,0.1,0.1,0.1) !important;
            color: black !important;
         }
.dash-spreadsheet tr:hover th {
	background-color: rgba(0.1,0.1,0.1,0.1) !important;
	color: black !important
}

.dash-spreadsheet td {
	background-color:Transparent !important;
	color: white !important
}
.dash-spreadsheet th {
	background-color:Transparent !important;
	color: white !important
}

.column-header-name {
width: 100%;
text-align: center;
}
.Select-control {
    background-color:rgba(25, 25, 25,0.1) !important;
    color:white;
}  

.Select-value-label {
    color: white !important;
}

.Select-menu-outer {
    background-color:rgba(25, 25, 25,0.8) !important;
    color: white;
}

.table-wrapper {
  overflow: hidden auto;
  position: relative;
  max-height: 300px;
}

